body {
  text-align: center;
  background-color: #bdc7c6;
  margin: 40px;
}

.photo-croissant {
max-width: 80%;
display: block;
border-radius: 10px;
margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color:#0f998b;
}